body{
    background-color: silver;
    display: block;
    font-size: 22px;
   background-color: gray;
}

div#create-item{
    margin-left: 20em;
    width: 50%;
    display: inline-block;
    border-top: 1px groove black;
    border-left: 1px groove black;
    border-right: 1px groove black;
    padding-left: .50em;

}
div#read-item{
    margin-left: 20em;
    width: 50%;
    display: inline-block;
    border-bottom: 1px groove black;
    border-left: 1px groove black;
    border-right: 1px groove black;
    padding-left:.50em;
    padding-bottom: .25em;
}

div#create-item > button, div#read-item > button{
    margin-top: 6px;
    color:brown;
}

div#create-item > #title, #title, #description, #start-date, #end-date{

    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 1em;
    

}

div#group{
    display: inline-block;
    
}



div#todo-list > p, p.completed{
    background-color: aquamarine;
    color: white;
    padding: .5em;
    border-radius: .2em;
    display: inline-block;
    margin-left: 20em;

}
p.completed{
    text-decoration: line-through;
    background-color: rgb(245, 72, 29) !important;
    margin-left: 56em !important;
}

header{
    text-align: center;
    font-family:cursive;
    color: aquamarine;
}
